.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  overflow-x: hidden;
}

.imessage {
  width: 40vw;
  min-width: 500px;
  margin: auto;
}

.body {
  width: 40vw;
  min-width: 500px;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.header {
  width: 40vw;
  min-width: 500px;
  height: 15vh;
  position: absolute;
  top: 0;
}

.footer {
  width: 40vw;
  min-width: 500px;
  height: 10vh;
}

a.login-logout-link:hover {
  color: #4d79e7;
}